body{
	font-family: $simple;
}
h1,h2,h3,h4,h5{
	font-family: $gras;
	font-weight: 400;
}
.green-btn{
	@include the-button;
}
.top-header{
	padding-bottom: 20px;
	img{
		margin: 0 auto;
	}
}
.navbar{
	background-color : $vert;
	margin-bottom: 0;
	border : none;
	border-radius : 0;
	.navbar-collapse{
		.nav{
			
			li{
				a{
					color : $blanc;
					text-transform: uppercase;
					text-decoration: none;
					font-family: $simple;
					padding-top: 6px;
					padding-bottom: 6px;
					margin-top: 9px;
					@include transition(background-color 0.3s ease);
					font-weight: 600;
				}
				&.active,&:hover{
					a{
						background-color : $blanc;
						@include transition(background-color 0.3s ease);
						color : $gris-txt;
					}
				}
			}
		}
	}
}

.content{
	.slider-top{
		margin-bottom: 45px;
		.item{
			height: 310px;
			background-size : cover;
			background-position : center;
			background-repeat: no-repeat;
			position: relative;

			.block-txt{
				position : absolute;
				bottom : 20px;
				left : 20px;
				width: 50%;
					@media only screen and (min-width : 1024px){
						width: 50%;
					}
				.titre{
					text-transform: uppercase;
					font-size: 20px;
					color : $blanc;
					font-family: $gras;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
					margin-bottom: 15px;
					line-height: 1.1;
				}
				.read-more{
					font-size: 17px;
					a{
						@include the-button();
					}
					
				}
			}
		}
		.slick-prev{
			left : 15px;
			z-index: 100;
			height: auto;
			&:before{
				font-size: 40px;
			}
		}
		.slick-next{
			right : 35px;
			z-index: 100;
			height: auto;
			&:before{
				font-size: 40px;
			}
		}
		.slick-dots{
			bottom: -40px;
			li{
				button{
					height: 8px;
					width: 8px;
					border-radius : 50%;
					border : 2px solid $vert;
					&:before{
						display: none;
					}
				}
				&.slick-active{
					button{
						border : 2px solid $rouge;
						background-color: $rouge;
					}
				}
			}
		}
	}
}

.featured-article{
	padding: 40px 0 30px;
	
	@include clearfix;
	margin-bottom: 20px;
	.bloc-article{
		padding: 25px;
		background-color : $gris;
		.titre{
			h2{
				line-height: 15px;
				height: 42px;
				overflow: hidden;
				margin-top: 0;
				font-family: $gras;
				margin-bottom: 20px;
				a{
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1;
					color : $gris-txt;
					text-decoration: none;
				}
			}
			
		}

		.illustration{
			margin-bottom: 25px;
		}

		.contenu{
			p{
				color : $gris-txt;
				font-size: 12px;
				text-align: justify;
			}
		}
		.read-more{
			.green-btn{
				background-color : $gris-be;
				font-family: $simple;
				&:hover{
					background-color : $blanc;
				}
			}
		}
	}
}

.newsletter{
	background-color : $gris-be;
	p{
		color : $blanc;
		text-transform: uppercase;
		vertical-align: middle;
		margin-bottom: 0;
		padding-left: 20px;
		i{
			font-size: 20px;
			margin-right: 15px;
		}
	}
	.input-group{
		margin: 10px 15px;
		.form-control{
			background-color: transparent;
			border : 2px solid $blanc;
			color: $blanc;
			border-radius : 0;

		}
		.input-group-addon{
			background-color: transparent;
			border : 2px solid $blanc;
			color: $blanc;
			border-radius : 0;
			button{
				background-color: transparent;
				border : none;
				text-transform: uppercase;
			}
		}
	}
}

.actualite{
	padding: 20px;
	h2{
		color : $vert;
		font-size: 24px;
		margin-bottom: 15px;
	}
	.bloc-actus{
		display: inline-block;
		text-decoration: none;
		position: relative;
		padding-bottom: 15px;
		.img-box{			
			height: 170px;
			background-size : cover;
			background-position: top center;
			margin-bottom: 15px;
			.date{
				display: inline-block;
				line-height: 35px;
				height: 35px;
				background-color : rgba(236,17,41,0.7);
				position : absolute;
				right: 0;
				padding : 0 15px;
				color: $blanc;
				font-weight: 600;
			}
		}
		p{
			color: $gris-txt;
			margin-bottom: 0;
			font-weight : bold;
		}
	}

	.link{
		margin-top: 20px;
		.btn-green{
			@include the-button;
		}
	}
}

.revue-part{
	background-color : $gris-txt;
	p{
		color : $blanc;
		margin-bottom: 0;
	}
	a{
		display: inline-block;
		margin: 15px 0;
		text-align: center;
		img{
			max-height: 90px;
		}
	}
}

.institution{
	background-color : $vert;
	min-height : 280px;
	padding-top: 30px;
	padding-bottom: 30px;
	.titre{
		text-transform: uppercase;
		color : $blanc;
		margin-bottom: 15px;
	}
	ul{
		padding-left: 0;
		list-style: none;
		a{
			color: $blanc;
			text-decoration: underline;
		}
	}

	.social{
		li{
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			a{
				i{
					background-color:$blanc;
					color : $vert;
					height: 30px;
					width: 30px;
					border-radius : 50%;
					line-height: 30px;
					@include transition(all 0.1s ease);
				}
				&:hover{
					i{
						background-color: transparent;
						color : $blanc;
						@include transition(all 0.1s ease);
					}
					
				}
			}
			
		}
	}
}

.menu-top{
	float : none;
	display: inline-block;
}

.copyright{
	background-color : $rouge;
	height: 70px;
	line-height: 70px;
	p{
		color: $blanc;
		margin-bottom: 0;

	}
}

.listing{
	.row-list{
		background-color : $gris;
		@include clearfix();
		padding: 10px 15px;
		margin-bottom: 15px;
		border-radius : 3px;
		position: relative;
		min-height: 75px;
		.icon-block{
			float: left;
			position : absolute;
		}
		.titre-block{
			float: left;
			width: 80%;
			padding-left: 50px;
			p{
				font-family: $gras;
				color : $gris-txt;
			}
		}
		.button-block{
			float: left;
			width: 20%;
			text-align: right;
			a{
				display: inline-block;
				height: 26px;
				line-height: 26px;
				background-color : $vert;
				color : $blanc;
				padding : 0 15px;
				text-decoration: none;
				@include transition(all 0.3s ease);
				border-radius : 3px;
				font-weight: 600;
				min-width: 90px;
				font-size: 10px;
				text-align: center;
				&:hover{
						border : 1px solid $vert;
						background-color : $blanc;
						color : $vert;
						text-decoration: none;
						@include transition(all 0.3s ease);
				}

			}
			.btn-read{
				margin-bottom: 5px;
			}
			.btn-down{
				a{
					background-color : $rouge;
					&:hover{
						border : 1px solid $rouge;
						background-color : $blanc;
						color : $rouge;
						text-decoration: none;
						@include transition(all 0.3s ease);
				}
				}
			}
		}

	}
}

.ctnr-intro{
	h1{
		font-family: $gras;
		color : $vert;
		font-size: 24px;
		margin-bottom: 15px;
	}
	p{
		font-family: $simple;
		font-size: 12px;
		width : 50%;
	}
}