/* ============================================================
  CUSTOM PAGINATION
============================================================ */
.custom-pagination{
  text-align: right;
  margin-top: 25px;
  margin-bottom: 25px;
}
.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 2px 10px;
}
.custom-pagination a {
  background-color: #ebebeb;
  color: #EC1029;
}
.custom-pagination a:hover {
  background-color: #EC1029;
  color: #fff;
  text-decoration: none;
}
.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}
.custom-pagination span.dots {
  padding: 0;
  color: gainsboro;
}
.custom-pagination span.current {
  background-color: #EC1029;
  color: #fff;
}